<div class="login">
    <img src="assets/img/login.png" alt="">
    <h1><span>Bunker</span> suplementos</h1>
    <div class="form">
        <form action="">
            <div class="input-group mb-2 mr-sm-2">
                <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fas fa-user"></i></div>
                </div>
                <input type="text" class="form-control" placeholder="usuario">
            </div>

            <div class="input-group mb-2 mr-sm-2">
                <div class="input-group-prepend">
                    <div class="input-group-text"><i class="fas fa-unlock"></i>
                    </div>
                </div>
                <input type="password" class="form-control" placeholder="••••••••••">
            </div>

            <button type="submit" class="btn btn-primary btn-block btn-login">ENVIAR</button>

            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Recuérdame</label>
            </div>
        </form>
        <a href="">¿Olvidaste tu contraseña?</a>
    </div>
</div>
<footer>
    <img src="assets/img/tanque.png" alt=""> Copyright etc
</footer>